body {
  padding: 1rem;
  /* background-color: rgb(138, 127, 255); */
  background-image: url(https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
  background-clip: border-box;
}

.container {
  background-color: transparent;
}

.card {
  background-color: rgba(238, 130, 238, 0.434);
}

.card-content {
  padding: 1rem;
}

.routine {
  border: black;
  padding-top: 1rem;
  line-height: 3px;
}

.delete-btn {
    width: 100%;
}



