body {
  padding: 1rem;
  background-color: aquamarine;
}

.card-content {
  padding: 1rem;
}

.routine {
  border: black;
  padding-top: 1rem;
  line-height: 3px;
}

.delete-btn,.edit-title {
    width: 100%;
}
.edit-title {
  margin-bottom: 15px;
}

/* .delete-exercise-button {
  width: 200px;
  position: absolute;
  transform: translateY(50%);
  bottom: 50%;
  right: 0;
  margin-right: 20px;
} */

.card-body { 
  line-height: 20px;
}

